$font-stack: "San Francisco", Helvetica, sans-serif;

$gold: #FEF378;
$orange: #CBAF92;
$grey: #202020;
$dark-grey: #141519;

$break-xsmall: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
