$font-stack: "San Francisco", Helvetica, sans-serif;

$gold-color: #FEF378;
$orange-color: #CBAF92;
$grey-color: #202020;

$break-xsmall: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
